* {
    
}
img {
    border-radius: 10px;
}
.book-container {
    width: 300px;
    height: 100px;
    display: flex;
    position: relative;
    h3 {
        margin-left: 10px;
        color: #333;
    }

}